div.tmtitle {
	background: linear-gradient(#2f2f2f, black);
	height: 45px;
}

div.tmtitle p {
	display: none;
	color: white;
	margin-top: 8px;
	float: right;
	font-size: 12px;
	text-align: center;
}

div.logo {
	min-height: 40px;
	display: table-cell;
	vertical-align: middle;
}

div.logo input {
	position: absolute;
	margin-top: 7px;
	height: 28px;
}

div.logo button {
	margin-top: 6px;
	float: right;
	font-weight: bold;
	background: linear-gradient(#666666, #333333);
	border: 0px;
	width: 80px;
	border-color: black;
}

.fontstyle {
	font-family: arial;
	font-weight: bold;
}

div.copyright {
	height: 40px;
	background: #111111;
	text-align: center;
}

div.copyright p {
	font-size: 10px;
	color: gray;
	margin-top: 10px;
}

div.venuesearch {
	height: 50px;
	position: relative;
	background: #cccccc;
}

div.venuesearch form {
	margin: 5px;
	position: absolute;
	top: 50%;
	transform: translate(0, -45%);
}

div.ticketsearch {
	height: 45px;
	display: table-cell;
	vertical-align: middle;
}

div.ticketsearch p {
	margin: 0;
	font-size: 20px;
	color: #aaaaaa;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

div.ticketsearch button {
	float: right;
	background: linear-gradient(#666666, #333333);
	border: 0px;
	border-color: black;
	text-shadow: 1px 1px black;
}

button.findticket {
	display: block;
	width: 90%;
	font-weight: bold;
	background: linear-gradient(#0033CC, #0000CC);
	color: white;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	text-shadow: 1px 1px black;
}

button.buyticket {
	display: block;
	width: 95%;
	font-weight: bold;
	background: linear-gradient(#009900, #003300);
	color: white;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	text-shadow: 1px 1px black;
}

button.gohome {
	margin-left: 5%;
	width: 45%;
	font-weight: bold;
	background: linear-gradient(#009900, #003300);
	color: white;
	border-color: black;
	text-shadow: 1px 1px black;
}

button.gologin {
	margin-left: 2%;
	width: 45%;
	font-weight: bold;
	background: linear-gradient(#FFFF33, #666600);
	color: white;
	border-color: black;
	text-shadow: 1px 1px black;
}

div.login {
	background: white;
	margin: 5px;
	padding: 5px;
}

div.login p {
	font-size: 20px;
}

div.login button {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-weight: bold;
	background: linear-gradient(#009900, #003300);
	border-color: black;
	color: white;
	text-shadow: 1px 1px black;
}

div.timer {
	display: none;
	vertical-align: middle;
	background: linear-gradient(#444444, #111111);
}

div.timer #text {
	display: inline;
	color: #EEEEEE;
	position: absolute;
	margin-left: -8px;
	margin-top: 12px;
}

div.timer #time {
	display: inline;
	margin-left: 120px;
	font-size: 30px;
	color: red;
}

div.sectionheader {
	padding: 5px;
	background: #cccccc;
}

div.totalcost {
	background: #cccccc;
	min-height: 60px;
}

div.totalcost #text {
	position: absolute;
	margin-top: 13px;
	margin-left: -1px;
	font-size: 20px;
}

div.totalcost #amt {
	position: absolute;
	margin-top: 13px;
	margin-left: 125px;
	font-size: 20px;
	color: red;
}

div.totalcost button {
	float: right;
	margin-top: 13px;
	color: white;
	font-weight: bold;
	background: linear-gradient(#00cc00, #006600);
	border-color: black;
	text-shadow: 1px 1px black;
}

div.totalcost #text2 {
	position: absolute;
	margin-top: 36px;
	margin-left: -1px;
	font-size: 12px;
}

div.totalcost #ticknum {
	position: absolute;
	margin-top: 36px;
	margin-left: 140px;
	font-size: 12px;
	color: green;
}
img.expand {
	width: 30px;
	height: 30px;
}

.extraCost {
	display: none;
}

.extraCost table {
	color: gray;
}

div.success {
	height: 40px;
	text-align: center;
	font-size: 28:q
px;
	background: #cccccc;
	color: green;
}

div.fail {
	height: 40px;
	text-align: center;
	font-size: 28px;
	background: #cccccc;
	color: red;
}

div.loggedout {
	height: 40px;
	text-align: center;
	font-size: 28px;
	background: #cccccc;
	color: green;
	margin-top: 10px;
}

div.error {
	text-align: center;
	font-size: 14px;
	background: #cccccc;
	color: red;
}

.filterbox {
	padding-bottom: 15px;
}
